@charset "UTF-8";

:root {
    --buttonColor: rgba(255, 181, 181, 0.6);
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Jungle-Abstract-Wallpaper-4K-Wallpaper-HD.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

    header {
        flex-shrink: 0;
        padding: 0px 10vw;
    }
        header h1 {
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px black;
        }

        header p {
            text-align: center;
            margin-bottom: 10vh;
            color: white;
            text-shadow: 1px 1px 1px black;
        }

    nav {
        flex-shrink: 0;
    }
        nav ul {
            list-style: none;
            padding: 0px 10vw;
        }

            nav ul li {
                max-width: 300px;
                text-align: center;
                margin: 25px 0px;
            }

                nav ul li button {
                    width: 100%;
                    min-height: 40px;
                    border-radius: 10px;
                    border: none;
                    background-color: var(--buttonColor);
                    color: white;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                }

            nav ul li.mat  {
                max-width: 300px;
                margin-top: 25px;
            }

                nav ul li.mat p {
                    background-color: var(--buttonColor);
                    border-radius: 10px;
                    margin: 0px;
                    padding: 10px 15px;
                    padding-bottom: 25px;
                    text-align: start;
                    color: white;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                }

                nav ul li.mat button {
                    background-color: var(--buttonColor);
                    transform: translateY(-50%);
                    width: 125px;
                    height: 35px;
                    color: white;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                }